.product-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.product-info h1 {
    font-size: 32px;
}

.product-info p {
    color: #666666;
    line-height: 25px;
    margin-top: 5px;
}

.product-info a {
    color: #069;
}

.product-info p .back {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: #fff;
    color: #da552f;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
}

.product-info p .back:hover {
    background: #da552f;
    color: #fff;
}

.product-info p:last-child {
    margin-top: 15px;
}